body {
    background: #F4F4F4;
   /* background: url("/img/pattern-6.png") fixed;*/
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.truncate {
 /*   white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel {
    margin-bottom: 5px;
}

.panel-default {
    border-color: #E4E4E4;
}
.panel-wrapper {
    padding: 15px;
}

.sidebar-block {
    padding: 18px 50px 10px;
    border-bottom: 1px solid #DFDFDF;
}
.sidebar-block:last-of-type {
    border-bottom: none;
}
.sidebar-block .alert  {
    margin: 0 -25px 18px;
    padding: 10px 28px 12px 23px;
}

.content-block {
    padding: 0 0 20px;
}
.content-block-title {
    text-transform: uppercase;
    color: #797979;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
}

.container-wrapper {
    background-color: #F8F8F8;
    border-radius: 6px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.container-item-shadow {
    box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.1);
}

.tab-content {
    background: #ffffff;
    padding: 15px;
    border-color: #E4E4E4;
    border-width: 0 1px 1px 1px;
    border-style: solid;
}
.comments-wrapper, .comments-header, .comments-footer {
    padding: 10px 50px;
}
.comment-item {
    padding: 10px 0;
    margin: 0 0 10px;
    border-bottom: 1px solid #E8E8E8;
}
.comment-item:last-of-type {
    border-bottom: none;
}
.comment-published:before {
    content: "\02022";
    margin-right: 5px;
}
.comment-published{
    font-size: 12px;
    color: #B5B5B5;
    font-style: italic;
    padding: 0;
}

.media-footer {
    margin: 0;
    padding: 6px 0 2px;
}
.media-footer .media-start {
    color: #FF7E00
}
.media-footer .comment-published {
    font-size: 11px;
    color: #909090;
    font-style: normal;
    padding: 0;
    line-height: 17px;
    vertical-align: top;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control.right {
    left: auto;
    right: 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.media-slider {

}
.media-slider .media {
    width: 200px;
    display: inline-block;
}
.media-slider .media-body {
    font-size: 12px;
}

.table-stats {
    font-size: 12px;
    cursor: default;
    border-bottom: 1px solid #DDD;
    margin: 0;
}

.table-stats .data-value{
    text-align: right;
    font-weight: bold;
}

.nav-tabs-modern{
    background: #337AB7;
    padding: 4px 4px 0;
}
.nav-tabs-modern a {
    color: #F6FCFF;
}
.nav-tabs-modern a:hover {
    color: #337AB7;
}