body {
    background: #F1F1F1;
    background: url("/img/pattern-6.png") fixed;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.panel {
    margin-bottom: 5px;
}

.panel-default {
    border-color: #E4E4E4;
}
.panel-wrapper {
    padding: 15px;
}

.tab-content {
    background: #ffffff;
    padding: 15px;
    border-color: #E4E4E4;
    border-width: 0 1px 1px 1px;
    border-style: solid;
}

.comment-item {
    padding: 10px 0;
}